:root{
  --color_principal: #36c;
  --color_principal-hover: rgb(13, 51, 126);
  --color_titulos: #000;
  --color_fondo: #fff;
}

.contenedor__principal h1, .contenedor__principal h2, .contenedor__principal h3, .contenedor__principal h4, .contenedor__principal h5, .contenedor__principal h6 {
  font-family: "Montserrat", sans-serif ;
}

.contenedor__principal p, .contenedor__principal a, .contenedor__principal button, .contenedor__principal span, .contenedor__principal div {
  font-family: "Work Sans", sans-serif ;
}

button.paginador__item--inactive {
  pointer-events:none;
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
  user-select: none;
  cursor: not-allowed;
}

.contenedor__principal .categorias__item--active {
  background-color: var(--color_principal-hover);
}