:root{
  --color_principal: #36c;
  --color_principal-hover: rgb(13, 51, 126);
  --color_titulos: #000;
  --color_fondo: #fff;
}

.contenedor__principal h1, .contenedor__principal h2, .contenedor__principal h3, .contenedor__principal h4, .contenedor__principal h5, .contenedor__principal h6 {
  font-family: "Montserrat", sans-serif ;
}

.contenedor__principal p, .contenedor__principal a, .contenedor__principal button, .contenedor__principal span, .contenedor__principal div {
  font-family: "Work Sans", sans-serif ;
}

.contenedor__principal {
  width: 100% ; /*Desactivar si se empieza a desbordar el ancho del contenedor*/
  display: flex ;
  flex-direction: column ;
  align-items: center ;
}
.contenedor__principal .titulo {
  margin: 0;
  margin-top: 20px ;
  width: 100% ;
  color: var(--color_titulos) ;
  font-weight: bold ;

}
.contenedor__principal .categorias {
  display: flex ;
  gap: 20px ;
  overflow: hidden ;
  width: 100% ;
  margin-top: 20px ;
}
.contenedor__principal .categorias__item {
  text-decoration: none ;
  padding: 10px ;
  border-radius: 20px ;
  background-color: var(--color_principal) !important;
  color: var(--color_fondo) !important;
  font-weight: 500 ;
  font-size: 0.8rem ;
  text-align: center ;
  z-index: 998 ;
  transition: all 0.5s ease ;
}
.contenedor__principal .categorias__item:hover {
  background-color: var(--color_principal-hover) !important;
}
.contenedor__principal .categorias__item--active {
  background-color: var(--color_principal-hover) !important;
}
.contenedor__principal .categorias .swiper-button-prev,
.contenedor__principal .categorias .swiper-button-next {
  width: 30px ; /* Ajusta el ancho según tus necesidades */
  height: 30px ;
  background-color: var(--color_fondo) ;
  font-size: 24px ;
  border-radius: 30px ;
  z-index: 999 ;
  top: var(--swiper-navigation-top-offset, 65%) ;
}
.contenedor__principal .categorias .swiper-button-prev::after,
.contenedor__principal .categorias .swiper-button-next::after {
  color: #000 ;
  font-size: 12px ;
  font-weight: bold ;
}
.contenedor__principal .contenedor__buscador {
  width: 100% ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  margin-top: 20px ;
  position: relative ;
}
.contenedor__principal .contenedor__buscador .buscador__funcionarios {
  width: 100% ;
  height: 41px ;
  padding: 10px ;
  border: 1px solid #ababab73 ;
  border-radius: 7px ;
  transition: all 0.5s ease;
}

.contenedor__principal .contenedor__buscador .buscador__funcionarios:focus {
  outline: none;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.contenedor__principal .contenedor__buscador .buscador__funcionarios:hover {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.contenedor__principal .contenedor__buscador .icono__buscador {
  position: absolute ;
  right: 5px ;
  padding: 5px ;
  background-color: var(--color_principal) ;
  border-radius: 50% ;
  color: #fff ;
  cursor: pointer ;
  transition: all 0.5s ease ;
  min-width: 2.3rem ;
  height: 2.2rem ;
  border: none ;
}

.contenedor__principal .contenedor__buscador .icono__borrar {
  position: absolute;
  right: 18px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  background: none;
  display: none;
  color: #aaa ;
  float: right ;
  font-size: 28px ;
  font-weight: bold ;
}

.contenedor__principal .contenedor__buscador .icono__borrar:hover {
  color: black ;
  text-decoration: none ;
  cursor: pointer ;
}

.contenedor__principal .contenedor__buscador .icono__borrar span {
  font-size: 1.8rem;
}


.contenedor__principal .contenedor__buscador .icono__buscador:hover {
  background-color: var(--color_principal-hover) !important;
}
.contenedor__principal .contenedor__funcionarios {
  width: 100% ;
  margin-top: 20px ;
  display: flex ;
  flex-wrap: wrap ;
  justify-content: center ;
  align-items: center ;
  gap: 20px ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item {
  width: 250px ;
  height: 300px ;
  /*box-shadow: 0px 0px 28px 0px rgba(206, 206, 206, 0.75) ;*/
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  display: flex ;
  flex-direction: column ;
  justify-content: space-evenly ;
  align-items: center ;
  border-radius: 5px ;
  transition: all 0.9s ease 0s ;
  overflow: hidden ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__img {
  width: 70% ;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  position: relative ;
  z-index: 1 ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__img::before {
  content: "" ;
  width: 100% ;
  background-color: var(--color_principal) ;
  position: absolute ;
  bottom: 135% ;
  right: 0 ;
  left: 0 ;
  transform: scale(3) ;
  transition: all 0.3s linear 0s ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__img::after {
  content: "" ;
  width: 100% ;
  height: 100% ;
  border: radius 50% ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  z-index: -1 ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__img .img__funcionario {
  width: 70% ;
  border-radius: 50% ;
  transform: scale(1) ;
  transition: all 0.9s ease 0s ;
  z-index: 999 ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item:hover .img__funcionario {
  transform: scale(0.8) ;
  border: 5px solid #fff ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item:hover .contenedor__img::before {
  height: 100% ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__contenido {
  width: 100% ;
  display: flex ;
  flex-direction: column ;
  align-items: center ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__contenido .nombre__funcionario {
  font-size: 1.3rem ;
  color: var(--color_titulos) ;
  font-weight: bold ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__contenido .cargo__funcionario {
  font-size: 1rem ;
  color: #727272 ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__btn {
  width: 100% ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__btn .btn__funcionario {
  text-decoration: none ;
  padding: 8px ;
  background-color: var(--color_principal) !important;
  border-radius: 10px ;
  color: #fff !important;
  transition: all 0.9s ease 0s ;
}
.contenedor__principal .contenedor__funcionarios .funcionario__item .contenedor__btn .btn__funcionario:hover {
  background-color: var(--color_principal-hover) !important;
}

.modal {
  display: none;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 100% ;
  height: 100% ;
  background-color: rgba(0, 0, 0, 0.5) ;
  justify-content: center ;
  align-items: center ;
  z-index: 999 ;
}
.modal .modal-content {
  background-color: white ;
  padding: 20px ;
  border-radius: 5px ;
  text-align: center ;
  width: 100% ;
  height: 100% ;
  overflow: auto ;
}
.modal .modal-content .close {
  color: #aaa ;
  float: right ;
  font-size: 28px ;
  font-weight: bold ;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: black ;
  text-decoration: none ;
  cursor: pointer ;
}
.modal .modal-content .contenedor__img-modal {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  gap: 11px ;
}
@media only screen and (min-width: 320px) {
  .modal .modal-content .contenedor__img-modal {
    flex-direction: column ;
  }
}
@media only screen and (min-width: 480px) {
  .modal .modal-content .contenedor__img-modal {
    flex-direction: row ;
  }
}
.modal .modal-content .contenedor__img-modal .img__funcionario-modal {
  width: 300px ;
  border-radius: 50% ;
  border: 3px solid #aaa ;
  padding: 10px ;
}
.modal .modal-content .contenedor__img-modal .nombre__funcionario-modal {
  font-size: 1.2rem ;
  background: var(--color_principal) ;
  color: #fff ;
  font-weight: bold ;
  padding: 5px 10px ;
  border-radius: 4px ;
}
.modal .modal-content .contenedor__informacion-basica {
  padding: 30px ;
  margin-top: 20px ;
  box-shadow: 0px 0px 28px 0px rgba(206, 206, 206, 0.75) ;
  border-radius: 5px ;
}


.modal .modal-content .titulo__modal {
  margin-top: 20px ;
  width: 100% ;
  color: var(--color_titulos) !important;
  font-weight: bold ;
  font-size: 1.3rem !important;
  padding: 0 !important;

}

.modal .modal-content .contenedor__informacion-basica .informacion__parrafo {
  color: #727272 ;
  font-size: 1rem ;
}
.modal .modal-content .contenedor__informacion-laboral {
  display: flex ;
  gap: 20px ;
  margin-top: 20px ;
}
@media only screen and (min-width: 320px) {
  .modal .modal-content .contenedor__informacion-laboral {
    flex-wrap: wrap ;
  }
}
@media only screen and (min-width: 480px) {
  .modal .modal-content .contenedor__informacion-laboral {
    flex-wrap: wrap ;
  }
}
@media only screen and (min-width: 768px) {
  .modal .modal-content .contenedor__informacion-laboral {
    flex-wrap: nowrap ;
  }
}
.modal .modal-content .contenedor__informacion-laboral .informacion__redes {
  width: 50% ;
  box-shadow: 0px 0px 28px 0px rgba(206, 206, 206, 0.75) ;
  padding: 30px ;
  border-radius: 5px ;
}
@media only screen and (min-width: 480px) {
  .modal .modal-content .contenedor__informacion-laboral .informacion__redes {
    width: 100% ;
  }
}
@media only screen and (min-width: 320px) {
  .modal .modal-content .contenedor__informacion-laboral .informacion__redes {
    width: 100% ;
  }
}
@media only screen and (min-width: 768px) {
  .modal .modal-content .contenedor__informacion-laboral .informacion__redes {
    width: 50% ;
  }
}
.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales {
  display: flex ;
  justify-content: center ;
  flex-wrap: wrap ;
  gap: 20px ;
  margin-top: 20px ;
  flex-direction: column;
}
.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales .enlace__redes {
  text-decoration: none ;
  padding: 10px 15px;
  font-size: 1.5rem ;
  color: #fff !important;
  border-radius: 10px;
  transition: all 0.5s ease ;
}

.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales .enlace__redes:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales .enlace__redes-facebook {
  background-color: green ;
}
.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales .enlace__redes-tiktok {
  background-color: #000 ;
}
.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales .enlace__redes-instagram {
  background-color: rgb(196, 37, 170) ;
}
.modal .modal-content .contenedor__informacion-laboral .informacion__redes .redes__sociales .enlace__redes-twitter {
  background-color: #00acee ;
}
.modal .modal-content .contenedor__informacion-laboral .informacion__laboral {
  width: 50% ;
  box-shadow: 0px 0px 28px 0px rgba(206, 206, 206, 0.75) ;
  padding: 30px ;
  border-radius: 5px ;
}
@media only screen and (min-width: 480px) {
  .modal .modal-content .contenedor__informacion-laboral .informacion__laboral {
    width: 100% ;
  }
}
@media only screen and (min-width: 320px) {
  .modal .modal-content .contenedor__informacion-laboral .informacion__laboral {
    width: 100% ;
  }
}
@media only screen and (min-width: 768px) {
  .modal .modal-content .contenedor__informacion-laboral .informacion__laboral {
    width: 50% ;
  }
}
.modal .modal-content .contenedor__informacion-laboral .informacion__laboral .informacion__parrafo {
  color: #727272 ;
}
.modal .modal-content .contenedor__informacion-estudios {
  padding: 30px ;
  margin-top: 20px ;
  box-shadow: 0px 0px 28px 0px rgba(206, 206, 206, 0.75) ;
  border-radius: 5px ;
}
.modal .modal-content .contenedor__informacion-estudios .informacion__parrafo {
  color: #727272 ;
}



.contenedor__principal .contenedor__funcionarios .funcionario__item--hide{
  display: none ;
}

.contenedor__principal .funcionarios__flex{
  display: flex ;
  align-items: center ;
  gap: 10px ;
  margin-top: 20px;
}



.contenedor__principal .funcionarios__vermas, .contenedor__principal .funcionarios__vermenos{
  display: block ;
  padding: 10px ;
  border: none ;
  outline: none ;
  background-color: var(--color_principal) ;
  color: #fff ;
  border-radius: 6px ;
  cursor: pointer ;
  transition: all 0.5s ease;
}

.contenedor__principal .funcionarios__vermas:hover, .contenedor__principal .funcionarios__vermenos:hover{
  background-color: var(--color_principal-hover);
}

.contenedor__principal .funcionarios__vermenos{
  display: none ;
}

.contenedor__principal .funcionarios__vermenos--active{
  display: block ;
}

.contenedor__principal .funcionarios__vermas--disabled{
  background-color: gray ;
  pointer-events: none ;
}


/*Paginador*/
.contenedor__paginador {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

button.paginador__item {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  min-width: 2.3rem;
  height: 2.2rem;
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

button.paginador__item:hover {
  background-color: var(--color_principal-hover);
}

button.paginador__item--active {
  background-color: var(--color_principal);
  border: none;
  color: #fff;
}

button.paginador__item--inactive {
  pointer-events:none;
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
  user-select: none;
  cursor: not-allowed;
}

.contenedor__numPagina{
  margin: 0 !important;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 900;
  user-select: none;
  font-size: 1rem;
}


/*Descomentar si empieza a desbordar el ancho del contenedor*/

/* @media only screen and (min-width: 320px) {
  .contenedor__principal {
    width: 300px;
  }
}

@media only screen and (min-width: 480px) {
  .contenedor__principal {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .contenedor__principal {
    width: 700px;
  }
}

@media only screen and (min-width: 1029px) {
  .contenedor__principal {
    width: 915px;
  }
} */